.ticketsPage {
  display: flex;
  gap: 25px;
  align-items: flex-start;
  justify-content: center;

  padding: 20px;

  @media (width <= 768px) {
    flex-direction: column;
    align-items: center;
  }
}
