.flightInfoCard {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  color: var(--gray);
}

.time {
  font-size: 27px;
  color: var(--black);
}

// media queries
@media (width <= 900px) {
  .flightInfoCard {
    font-size: 11px;
  }

  .time {
    font-size: 24px;
  }
}

@media (width <= 480px) {
  .flightInfoCard {
    font-size: 10px;
  }

  .time {
    font-size: 22px;
  }
}
