*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
}

button {
  all: unset;
}

a {
  cursor: pointer;
  text-decoration: none;
}
