.ticketCard {
  display: flex;
  align-items: center;

  width: 600px;
  height: 150px;

  border-radius: 4px;
  box-shadow: 1px 1px 10px 0 rgb(0 0 0 / 25%);
}

.airlineAndPrice {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;

  width: 30%;
  height: 100%;
  padding: 25px;

  border-right: 1px solid var(--gray);
}

.airlineImage {
  width: 100%;
}

.buy {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 6px;

  color: white;
  text-align: center;

  background-color: var(--orange);
  border-radius: 6px;
}

.flightInfo {
  display: flex;
  gap: 10px;
  align-self: flex-start;
  justify-content: space-between;

  width: 70%;
  padding: 25px;

  & > :last-child {
    align-items: flex-end;
  }
}

.transfers {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 5px;
  align-items: center;
  justify-content: flex-end;

  color: var(--gray);
}

.line {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: var(--gray);

  &::after {
    content: '';

    position: absolute;
    top: -7px;
    right: 0;
    transform: rotate(45deg);

    display: block;

    width: 15px;
    height: 15px;

    background-color: var(--gray);

    mask: url('../../shared/images/plane.svg') no-repeat center;
  }
}
