.tabs {
  display: flex;

  & > :first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  & > :last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

.option {
  cursor: pointer;

  margin-left: -1px;
  padding: 10px 20px;

  font-weight: bold;
  color: var(--blue);
  text-transform: uppercase;

  border: 1px solid var(--gray);

  transition: 0.2s;

  &:hover {
    background-color: rgba(from var(--blue) r g b / 15%);
    border: 1px solid var(--blue);
  }

  &.selected {
    color: var(--white);
    background-color: var(--blue);
    border: 1px solid var(--blue);
  }
}
